# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/
stacktrace.log

# Node / NPM
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db
